/* @import url('https://fonts.googleapis.com/css?lang=es&family=Product+Sans|Roboto:400,700'); */

body {
    background-color: #3c3c3c;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", sans-serif; */
}

.navbar {
    display: flex;
    height: 48px;
    padding: 8px;
    align-items: center;
    justify-content: end;
    color: #f5f5f5;

}

.navbar__elementos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__ul {
    display: flex;
    justify-content: center;
    padding-right: 15px;
}

.navbar__li {
    padding-left: 15px;
    list-style: none;
}

.navbar__li:hover {
    cursor: pointer;
    /* Cambia la flecha por una mano al pasar el mouse */
    text-decoration: underline;

}

.navbar__media {
    display: flex;
    align-items: center;
    /* Alinea los elementos verticalmente */
    justify-content: center;
    /* Alinea los elementos horizontalmente */
}

.navbar__menú {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    margin-right: 20px;
}

.navbar__ball {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.navbar__ball:hover {
    background-color: #b3b1b1;
    border-radius: 50%;
}

.navbar__imgmenu {
    fill: #f5f5f5;
    width: 24px;
    height: 24px;
}

.navbar__lab {
    fill: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width:24px;
    height: 32px;
    margin-right: 5px;
    padding: 0px 5px;
}

.navbar__lab:hover {
    background-color: #b3b1b1;
    border-radius: 50%;
}

.navbar__profile {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url("../assets/img/circle.svg"), url("https://lh3.google.com/u/0/ogw/AF2bZyhJCmokqERIbLEcR_QLZFBvmxwla5e5CrijJ3IleQG_DA=s32-c-mo");
    background-position: center;
    background-size: contain, cover;
    /*   background-repeat: no-repeat; */
    /* Es para que la imagen no se repita  */
}

/* ------- Sección Main: Contenedor Principal ------- */

main {
    display: flex;
    flex-direction: column;
    /* Cuando se usa esta propiedad la forma de alineación vertical y horizontal se invierten */
    align-items: center;
    /* Alinea los elementos horizontalmente */
    justify-content: center;
    /* Alinea los elementos verticalmente */
}

.main__logo {
    width: 272px;
    height: 200px;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.main__search {
    width: 561px;
    height: 44px;
    padding: 1px 1px;
    box-shadow: 0 1px 6px 0 #ffffff;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 52px 422px 41px 41px;
    grid-template-rows: 44px;
    justify-items: center;
    align-items: center;
}

.main__input {
    width: 422px;
    height: 42px;
    border: none;
    outline: none;
    background-color: #3c3c3c;
    color: white;
    /* Para la letra del buscador */
}

.main__img {
    cursor: pointer;
}

.main__img--icons {
    width: 24px;
    height: 24px;
}

.grid__container {
    display: grid;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
  /* Espacio entre elementos */
    /* Espacio interno del contenedor */
    background-color: #3c3c3c;
    /* Color de fondo del contenedor */
}

.shortcut {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;  /* Para alinear ícono y texto */
    justify-content: center;
    align-items: center;/* Para centrar contenido */
    background-color: #3c3c3c;/* Color de fondo */
    border: 1px solid #3c3c3c;/* Borde gris */
    border-radius: 15px; /* Bordes redondeados */
    text-align: center;
    text-decoration: none; /* Eliminar subrayado de enlaces */
    color: #ffffff;/* Color de texto */
    transition: transform 0.2s, background-color 0.2s;/* Animación suave */
    
}

.shortcut:hover {
    transform: scale(1.05);
    /* Agrandar al pasar el mouse */
    background-color: #222222;
    /* Cambiar color al pasar el mouse */
}

.shortcut img {
    width: 40px; /* Tamaño del ícono */
    height: 40px; /* Tamaño del ícono */
    margin-bottom: 5px; /* Espacio entre ícono y texto */
    border-radius: 70%;
    padding: 5px 5px;
    background-color: #817e7e;
}

.icono {
    border-radius: 4px;
    display: flex;
    height: 20px;
    width: 140px;
}

.puntos {
    mask-image: url("../assets/img/icon_puntos.svg");
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 20px;
    /* transform: none; */
    background-color: white;
   /*  height: 100%; */
    /* transition: background-color none; */
  /*   width: 100%; */
    position: relative;
    left: 45px;
    opacity: 1;
    /*  margin-right: 5px;
    padding: 0px 5px; */
}

.puntos:hover {
    opacity: 1;
}